html, body {
    height: 100%;
	font-family: 'Century Gothic', sans-serif;
}

h1 {
	font-size: 44px;
	font-weight: bold;
	font-variant: small-caps;
	color: #0098e1;
}
h2 {
	font-size: 28px;
	color: #7092be;
}
h3 {
	font-size: 22px;
	font-style: italic;
}

#map {
    height: 1000px;
	width: 100%;
}
