html,
body {
    height: 100%;
    font-family: 'Century Gothic', sans-serif;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    font-variant: small-caps;
    color: #0098e1;
}

h4 {
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
}

h5 {
    font-style: italic;
    font-family: 'Century Gothic', sans-serif;
}

li {
    font-size: 18px;
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 4px 4px #bbc1cc;
}

.highlight {
    font-weight: bold;
    box-shadow: 4px 4px #0098e1;
}

#title {
    text-align: right;
}

#map {
    height: 1000px;
}
